@model Stat_reports.ViewModels.UserChangePasswordViewModel

@* Модальное окно для смены пароля пользователя *@
<div class="modal fade" id="changeUserPasswordModal" tabindex="-1" aria-labelledby="changeUserPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeUserPasswordModalLabel">Смена пароля пользователя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form asp-action="ChangeUserPassword" method="post" id="userPasswordChangeForm">
                <div class="modal-body">
                    <input type="hidden" asp-for="UserId" />
                    <div class="form-group">
                        <label asp-for="CurrentPassword"></label> 
                        <input asp-for="CurrentPassword" class="form-control" autocomplete="off" /> 
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <input asp-for="NewPassword" class="form-control" autocomplete="new-password" /> 
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmNewPassword"></label> 
                        <input asp-for="ConfirmNewPassword" class="form-control" autocomplete="new-password" /> 
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="All" class="text-danger mt-3"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary-modal">Сменить пароль</button>
                </div>
            </form>
        </div>
    </div>
</div>